# Directories
__pycache__/

# Sphinx
docs/_build/
docs/api/emg3d*
docs/savefig/

# Pytest and coverage related
htmlcov
.coverage
.pytest_cache/

# setuptools_scm
emg3d/version.py

# Build related
.eggs/
build/
dist/
emg3d.egg-info/

#C-code object
*.o
*.so
*.bin
