prune docs
prune tests
prune .github
exclude MAINTENANCE.rst
exclude MANIFEST.in
exclude Makefile
exclude requirements.txt
exclude requirements-dev.txt
exclude runtests.sh
exclude .gitignore
exclude .coveragerc
