# GLOBAL REQUIREMENTS.
-r requirements.txt

# SOFT DEPENDENCIES
tqdm
h5py
scooby
xarray
empymod
cython
discretize
matplotlib

# SETUP RELATED
setuptools_scm

# FOR DOCUMENTATION
sphinx
numpydoc
sphinx_design
sphinx_numfig
pydata_sphinx_theme
sphinx_automodapi
ipykernel

# FOR TESTING
asv
pytest
flake8
coveralls
pytest-cov
pytest-console-scripts
