# GLOBAL REQUIREMENTS.
-r requirements.txt

# SOFT DEPENDENCIES
h5py
scooby
matplotlib

# SETUP RELATED
setuptools_scm

# FOR DOCUMENTATION
# sphinx fixed below 2.0
# https://github.com/numpy/numpydoc/issues/215
sphinx < 2.0
numpydoc
sphinx_numfig
sphinx_rtd_theme

# FOR TESTING
pytest
pytest-cov
pytest-flake8
