# GLOBAL REQUIREMENTS.
-r requirements.txt

numpy<=2

# SOFT DEPENDENCIES
tqdm
h5py
xarray
discretize
matplotlib
ipympl
pygimli>=1.5.2
simpeg>=0.22.1

# SETUP RELATED
setuptools_scm

# FOR DOCUMENTATION
sphinx
numpydoc
sphinx_design
sphinx_numfig
pydata_sphinx_theme
sphinx_automodapi
ipykernel
pickleshare

# FOR TESTING
asv
pytest
flake8
coveralls
pytest-cov
pytest-console-scripts
